In [3]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import json
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

%matplotlib inline

In [8]:
# Load .env enviroment variables
load_dotenv('.env')

True

In [ ]:
# Set current amount of crypto assets
# YOUR CODE HERE!

In [34]:
# Crypto API URLs
ltc_url = "https://api.alternative.me/v2/ticker/Litecoin/?convert=USD"
chl_url = "https://api.alternative.me/v2/ticker/Chainlink/?convert=USD"

In [39]:
# Fetch current BTC price
# YOUR CODE HERE!
response_data_ltc=requests.get(ltc_url)
print(response_data_ltc)
response_content_ltc = response_data_ltc.content
data_ltc = response_data_ltc.json()

#print(json.dumps(data_ltc, indent=4))

ltc_df = data_ltc['data']
#display(ltc_df)


my_ltc=ltc_df['2']['name']

my_ltc_value=ltc_df['2']['quotes']['USD']['price']

# Fetch current CHL price
# YOUR CODE HERE!
response_data_chl=requests.get(chl_url)
print(response_data_chl)
response_content_chl = response_data_chl.content
data_chl = response_data_chl.json()

#print(json.dumps(data_chl, indent=4))

chl_df = data_chl['data']

my_chl=chl_df['1975']['name']
# Compute current value of my crpto
# YOUR CODE HERE!
my_chl_value=chl_df['1975']['quotes']['USD']['price']

# Print current crypto wallet balance
print(f"The current value of your {my_ltc} LTC is ${my_ltc_value:0.2f}")
print(f"The current value of your {my_chl} CHL is ${my_chl_value:0.2f}")

<Response [200]>
<Response [200]>
The current value of your Litecoin LTC is $53.69
The current value of your Chainlink CHL is $7.31

In [40]:
# Read the Apple CSV into DataFrame and display a few rows
appl_df = pd.read_csv('Resources/AppleData.csv')
appl_df.head()

         Date Close/Last     Volume     Open       High       Low
0  09/28/2022    $149.84  146691400  $147.64  $150.6414   $144.84
1  09/27/2022    $151.76   84442740  $152.74    $154.72  $149.945
2  09/26/2022    $150.77   93339410  $149.66  $153.7701   $149.64
3  09/23/2022    $150.43   96029910  $151.19    $151.47   $148.56
4  09/22/2022    $152.74   86652540  $152.38    $154.47   $150.91

In [41]:
# Read the Tesla CSV into DataFrame and display a few rows
tesla_df = pd.read_csv('Resources/TeslaData.csv')
tesla_df.head()

         Date Close/Last    Volume     Open     High      Low
0  09/28/2022    $287.81  54664810  $283.08     $289  $277.57
1  09/27/2022    $282.94  61925190  $283.84  $288.67  $277.51
2  09/26/2022    $276.01  58076910  $271.83  $284.09  $270.31
3  09/23/2022    $275.33  63748360  $283.09   $284.5  $272.82
4  09/22/2022    $288.59  70545410  $299.86  $301.29  $285.82