In [3]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import json
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

%matplotlib inline

In [8]:
# Load .env enviroment variables
load_dotenv('.env')

True

In [ ]:
# Set current amount of crypto assets
# YOUR CODE HERE!

In [9]:
# Crypto API URLs
ltc_url = "https://api.alternative.me/v2/ticker/Litecoin/?convert=CAD"
chl_url = "https://api.alternative.me/v2/ticker/Chainlink/?convert=CAD"

In [22]:
# Fetch current BTC price
# YOUR CODE HERE!
response_data_ltc=requests.get(ltc_url)
print(response_data_ltc)
response_content_ltc = response_data_ltc.content
data_ltc = response_data_ltc.json()

#print(json.dumps(data_ltc, indent=4))

ltc_df = data_ltc['data']


my_ltc=ltc_df['2']['name']

my_ltc_value=ltc_df['2']['quotes']['CAD']['price']

# Fetch current CHL price
# YOUR CODE HERE!
response_data_chl=requests.get(chl_url)
print(response_data_chl)
response_content_chl = response_data_chl.content
data_chl = response_data_chl.json()

#print(json.dumps(data_chl, indent=4))

chl_df = data_chl['data']

my_chl=chl_df['1975']['name']
# Compute current value of my crpto
# YOUR CODE HERE!
my_chl_value=chl_df['1975']['quotes']['CAD']['price']

# Print current crypto wallet balance
print(f"The current value of your {my_ltc} LTC is ${my_ltc_value:0.2f}")
print(f"The current value of your {my_chl} CHL is ${my_chl_value:0.2f}")

<Response [200]>
<Response [200]>
The current value of your Litecoin LTC is $73.15
The current value of your Chainlink CHL is $10.22

In [26]:
# Read the Apple CSV into DataFrame and display a few rows
appl_df = pd.read_csv('Resources/AppleData.csv')
appl_df.head(5)

            Date Close/Last     Volume      Open      High       Low
1253  10/05/2017   $38.8475   84863480   $38.545    $38.86  $38.5125
1254  10/04/2017     $38.37   80355760  $38.4075   $38.465   $38.115
1255  10/03/2017     $38.62   64867200  $38.5025  $38.7725  $38.4775
1256  10/02/2017   $38.4525   74526160   $38.565  $38.6125    $38.18
1257  09/29/2017     $38.53  104818680  $38.3025  $38.5325       $38

In [28]:
# Read the Tesla CSV into DataFrame and display a few rows
tesla_df = pd.read_csv('Resources/TeslaData.csv')
tesla_df.head

            Date Close/Last     Volume      Open      High       Low
1253  10/05/2017   $23.6887   62518664  $23.7333   $23.829  $23.4233
1254  10/04/2017   $23.6673  122219864  $23.4167   $23.908  $23.3067
1255  10/03/2017   $23.2093  151838174  $22.3933  $23.2367  $22.0853
1256  10/02/2017   $22.7687   78413166  $22.8347  $22.9133  $22.3673
1257  09/29/2017     $22.74   76485727  $22.7907  $22.9787  $22.5734